@model IEnumerable<HardWareTech.DATA.Models.VwProdutoClienteManutencao>


@{
    ViewData["Title"] = "Home Page";
} @*
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
*@
<div class="row">
    <div class="col-xl-3 col-md-6">
        <div class="card border-primary mb-3" style="max-width: 18rem;">
            <div class="card-header"><i class="fa-solid fa-user"></i> Clientes</div>
            <div class="card-body text-primary">
                <h5 class="card-title">Total de Clientes: @ViewBag.TotalClientes</h5>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-md-6">
        <div class="card border-secondary mb-3" style="max-width: 18rem;">
            <div class="card-header"><i class="fa-solid fa-box"></i> Produtos</div>
            <div class="card-body text-secondary">
                <h5 class="card-title">Total de Produtos: @ViewBag.TotalProdutos</h5>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-md-6">
        <div class="card border-success mb-3" style="max-width: 18rem;">
            <div class="card-header"><i class="fa-solid fa-boxes-stacked"></i> Vendas</div>
            <div class="card-body text-success">
                <h5 class="card-title">Total de Vendas: @ViewBag.totalVendas</h5>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-md-6">
        <div class="card border-danger mb-3" style="max-width: 18rem;">
            <div class="card-header"><i class="fa-solid fa-gear"></i> Manutenções</div>
            <div class="card-body text-danger">
                <h5 class="card-title">Total de Manutenções: @ViewBag.TotalManutencoes</h5>
            </div>
        </div>
    </div>
</div>