@model HardWareTech.DATA.Models.Cliente

@{
    ViewData["Title"] = "Edit";
}

<h1>Alterar dados do Cliente</h1>
<hr />

<div>
    <a class="btn btn-primary" asp-action="Index"><i class="fa-solid fa-arrow-left"></i> Voltar</a>
</div>
<br />

@if (TempData["MensagemErro"] != null)
{
    <div class="alert alert-danger" role="alert" style="text-align: center;">
        <button type="button" class="btn btn-danger btn-sm close-alert" arial-label="Close">X</button>
        @TempData["MensagemErro"]
    </div>
}

<div class="row">
    <div class="col-md">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div hidden class="col-md">
                <div class="form-group">
                    <label asp-for="Id" class="control-label"></label>
                    <input asp-for="Id" class="form-control" />
                </div>
            </div>

            <div class="card">
                <div class="card-header">Dados Pessoais</div>
                <div class="card-body row">
                    <div class="col-md">
                        <div class="form-group">
                            <label asp-for="Cpf" class="control-label"></label>
                            <input asp-for="Cpf" class="form-control" />
                            <span asp-validation-for="Cpf" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md">
                        <div class="form-group">
                            <label asp-for="NomeCliente" class="control-label"></label>
                            <input asp-for="NomeCliente" class="form-control" />
                            <span asp-validation-for="NomeCliente" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>
            <br />
            <div class="card">
                <div class="card-header">Endereço</div>
                <div class="card-body row">
                    <div class="col-md">
                        <div class="form-group">
                            <label asp-for="Endereco" class="control-label"></label>
                            <input asp-for="Endereco" class="form-control" />
                            <span asp-validation-for="Endereco" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md">
                        <div class="form-group">
                            <label asp-for="Cidade" class="control-label"></label>
                            <input asp-for="Cidade" class="form-control" />
                            <span asp-validation-for="Cidade" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md">
                        <div class="form-group">
                            <label asp-for="Bairro" class="control-label"></label>
                            <input asp-for="Bairro" class="form-control" />
                            <span asp-validation-for="Bairro" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md">
                        <div class="form-group">
                            <label asp-for="NumeroEndereco" class="control-label"></label>
                            <input asp-for="NumeroEndereco" class="form-control" />
                            <span asp-validation-for="NumeroEndereco" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>
            <br />
            <div class="card">
                <div class="card-header">Contato</div>
                <div class="card-body row">
                    <div class="col-md">
                        <div class="form-group">
                            <label asp-for="Telefone" class="control-label"></label>
                            <input asp-for="Telefone" class="form-control" />
                            <span asp-validation-for="Telefone" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md">
                        <div class="form-group">
                            <label asp-for="Email" class="control-label"></label>
                            <input asp-for="Email" class="form-control" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>
            <br />
            <div style="text-align: right;">
                <div class="form-group">
                    <input type="submit" value="Alterar" class="btn btn-success" />
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}